/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  width 10rem !important

.action-button
  color: white !important

.navbar
  .nav-links
    display: flex !important
    flex-direction: row !important
    align-items center !important
    justify-content center !important

    .nav-link
      display: flex !important
      flex-direction: row !important
      align-items center !important
      justify-content center !important

      .mdi
        margin-right: 0.5rem
        font-size: 1.5rem

.features
  .feature
    background: rgba(100,100,100,0.1) !important
    margin-bottom: 0.5rem !important