/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  width 10rem !important

.home .hero h1
  font-weight 500

.action-button
  color: white !important

.navbar
  .nav-links
    display: flex !important
    flex-direction: row !important
    align-items center !important
    justify-content center !important

    .nav-link
      display: flex !important
      flex-direction: row !important
      align-items center !important
      justify-content center !important

      .mdi
        margin-right: 0.5rem
        font-size: 1.5rem

.theme-dark
  .features
    .feature
      background rgba(100,100,100,0.05) !important
      margin-bottom: 0.5rem !important
      box-shadow: 0px 0px 3px 0px rgba(0,0,0 0.1) !important
  code
    background-color #191919

.theme-light
  .features
    .feature
      background: rgba(230,230,230,0.1) !important
      box-shadow: 0px 0px 3px 0px rgba(0,0,0 0.2) !important
      margin-bottom: 0.5rem !important

  code
    background-color #fafafa

.theme-dark
  .cli-output
    padding 0.5rem
    border-radius: 0.5rem
    background-color #191919
    white-space: pre-wrap
    overflow: auto

:not(.theme-dark),.theme-light
  .cli-output
    padding 0.5rem
    border-radius: 0.5rem
    background-color #fafafa
    white-space: pre-wrap
    overflow: auto