[workspace]
exclude = ["util/test-gen", "util/schema-index"]
members = ["crates/*"]

[profile.release]
codegen-units = 1
lto = "thin"
opt-level = 3
# strip = "debuginfo"

[profile.bench]
lto = true
opt-level = 3
