[workspace]
exclude = ["util/schema-gen", "util/test-gen", "util/schema-index"]
members = ["crates/*"]

[profile.release]
codegen-units = 1
lto = "thin"
opt-level = 3

[profile.bench]
lto = true
opt-level = 3
