[package]
authors = ["tamasfe"]
description = "A CLI for Taplo TOML toolkit"
license = "MIT"
edition = "2021"
name = "taplo-cli"
version = "0.6.7"
homepage = "https://taplo.tamasfe.dev"
repository = "https://github.com/tamasfe/taplo"
categories = ["development-tools", "command-line-utilities"]
keywords = ["toml", "linter", "formatter"]

[features]
default = []
lsp = ["taplo-lsp", "async-ctrlc"]
toml-test = []

[dependencies]
anyhow = { version = "1", features = ["backtrace"] }
async-ctrlc = { version = "1.2.0", features = ["stream"], optional = true }
clap = { version = "3.0.0", features = ["derive", "cargo"] }
codespan-reporting = "0.11.1"
futures = "0.3"
glob = "0.3"
hex = "0.4"
itertools = "0.10.3"
once_cell = "1.4"
regex = "1.4"
reqwest = { version = "0.11.4", features = ["json"] }
schemars = "0.8"
serde = "1"
serde_json = "1"
taplo = { version = "0.9.0", path = "../taplo", features = ["serde"] }
taplo-common = { version = "0.2.0", path = "../taplo-common" }
taplo-lsp = { version = "0.4.0", path = "../taplo-lsp", optional = true }
time = { version = "0.3", features = ["parsing"] }
toml = "0.5"
tracing = "0.1.29"
tracing-subscriber = { version = "0.3.7", features = ["env-filter"] }
url = "2.2.2"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
atty = "0.2.14"
tokio = { version = "1.19.2", features = [
    "sync",
    "fs",
    "time",
    "io-std",
    "rt-multi-thread",
    "parking_lot",
] }
lsp-async-stub = { version = "0.6.0", path = "../lsp-async-stub", features = [
    "tokio-tcp",
    "tokio-stdio",
] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
tokio = { version = "1.19.2", features = ["sync", "parking_lot", "io-util"] }

[package.metadata.auto-tag]
enabled = true

[[bin]]
name = "taplo"
path = "bin/taplo.rs"
