.ant-layout-sider-zero-width-trigger {
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);
}

.page-content {
  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
  }
  h2 {
    font-size: 1.4rem;
    font-weight: bold;
  }
  h3 {
    font-size: 1.1rem;
    font-weight: bold;
  }
  h4 {
    font-size: 1rem;
    font-weight: bold;
  }

  code {
    padding: 4px;
    background-color: rgba(123, 161, 192, 0.05) !important;
  }
  

  .prism-code {
    background-color: rgba(123, 161, 192, 0.05) !important;
    display: inline-block;
  }

  .cli-output {
    background-color: rgba(123, 161, 192, 0.05) !important;
    padding: 1rem;
    display: inline-block;
  }
}
