:root {
  --vp-c-brand: #e67039;
  --vp-c-brand-light: #e6682e;
  --vp-c-brand-lighter: #e97c49;
  --vp-c-brand-dark: #bf4d17;
  --vp-c-brand-darker: #a84314;

  --vp-custom-block-tip-border: rgba(66, 129, 184, 0.12);
  --vp-custom-block-tip-text: rgb(94, 155, 208);
  --vp-custom-block-tip-bg: rgba(66, 129, 184, 0.05);
}
